SaGE.Correspondence.Domain/Stats.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Stats">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DocumentCount" type="xs:string" />
        <xs:element name="TotalPages" type="xs:string" />
        <xs:element name="Description" type="xs:string" />
        <xs:element name="Date" type="xs:string" />
        <xs:element name="Partition" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>